.navbar-section__ul {

  --li-padding-X: 0.5625rem;
  --li-padding-Y: 1.25rem;

  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-top: clamp(0.5rem, 4vw, 2.125rem);
  padding: 0 var(--login-indent);
  gap: clamp(0.5rem, 3vw, 3.4375rem);
  //calc(0.5rem - )

  &__li {
    //padding: var(--li-padding-X) var(--li-padding-Y);
    border: 0.75px solid transparent;
    font-size: $font-size-18;
    line-height: $line-height-24;
    &:hover {

      //border-color: $font-color-main;
    }
  }
}