.navbar-section__ul {

  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-top: clamp(0.2rem, 6.4%, 3rem);
  gap: clamp(0.5rem, calc(3vw - #{$padding-navigation}), 3.4375rem);

  &__li {
    border: 0.75px solid transparent;
    font-size: $font-size-18;
    cursor: pointer;

    &:hover, &:focus {
      border-color: $border-color-alt;
    }

    &-text {
      display: block;
      padding: 0.47385vw $padding-navigation;

      &:hover, &:focus-visible {
        opacity: 0.75;
      }
    }
  }
}