.hero {
  background-repeat: no-repeat;
  background-size: 72%;

  background-position: bottom -5px left -90%;

  @media (max-width: $breakpointM) {
    position: static;
    background-image: none !important;
    margin: 0 auto;
  }

  &-container {
    display: flex;
    max-width: max-content;
    flex-direction: column;
    align-items: stretch;
    padding: 18% 7% 14.5% 50%;

    @media (max-width: $breakpointM) {
      max-width: 90%;
      padding: 0;
      margin: 35% auto 13% auto;
    }

    &__header {
      position: relative;

      &::after {
        content: "";
        background-image: url("../../../assets/decorations/Decoration.svg");
        background-repeat: no-repeat;
        width: 253px;
        height: 33px;
        position: absolute;
        top: 100%;
        left: 50%;
        transform: translate(-50%, 80%);

        @media (max-width: $breakpointS) {
          top: 90%;
        }
      }
    }

    &__links {
      display: flex;
      justify-content: space-between;
      gap: 5vmin;
      padding-top: 18%;
      font-size: $font-size-36;
      line-height: $line-height-45;
      font-weight: $font-weight-light;
      text-transform: uppercase;
    }

    &__link-stuff, &__link-organise {
      border: 0.75px solid $font-color-main;
      flex-grow: 1;
      flex-basis: 10%;
      padding: 2% 0;
    }
  }
}

