.loggedOut {
  padding-top: 14%;

  @media (max-width: $breakpointXL) {
    padding-top: 20%;
  }

  @media (max-width: $breakpointL) {
    padding-top: 25%;
  }

  @media (max-width: $breakpointL) {
    padding-top: 30%;
  }

  @media (max-width: $breakpointS) {
    padding-top: 50%;
  }

  &__header {
    padding: 93px 5px;
    font-size: $font-size-40;
    line-height: $line-height-55;
    letter-spacing: -0.8px;
    position: relative;

    &::after {
      content: "";
      background-image: url("../../../src/assets/decorations/Decoration.svg");
      background-repeat: no-repeat;
      width: 253px;
      height: 33px;
      position: absolute;
      top: 69%;
      left: 50%;
      transform: translate(-50%, 50%);
    }
  }

  &__link {
    padding: 13px 17px;
    border: 0.75px solid $font-color-main;
    font-size: $font-size-18;
    font-weight: $font-weight-light;
    line-height: $line-height-32;
    cursor: pointer;

    &:hover, &:focus-visible {
      opacity: 0.75;
    }
  }
}