html {
  @media (min-width: $breakpointXXL) {
    margin: 0 auto;
    max-width: 3000px;
  }
}

body {
  font-size: $font-size-16;
  font-family: $font-base;
  font-weight: $font-weight-regular;
  letter-spacing: $letter-spacing-0;
  text-align: center;
  color: $font-color-main;
  background-color: $background-color-main;
  box-sizing: border-box;
  position: relative;

  @media (max-width: $breakpointM) {
    position: static;
  }
}

h2 {
  font-size: $font-size-38;
  line-height: $line-height-55;
  letter-spacing: -0.76px;
}

input, textarea {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid $font-color-main;
  font-family: $font-base;
  font-weight: $font-weight-regular;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  cursor: pointer;
}

$right: 6.37%;
$left: 6.37%;