.carouselFormStep2 {
  --radio-size: clamp(15px, 2.5vw, 40px);
  color: $font-color-send;
  font-weight: $font-weight-light;
  font-size: $font-size-24;
  line-height: $line-height-27;

  &__stepCount {
    color: $font-color-main;
  }

  &__header {
    margin-top: 70px;
    font-size: $font-size-36;
    font-weight: $font-weight-semibold;
    line-height: $line-height-45;
  }

  &_container {
    margin-top: 49px;

  }

  &-buttonContainer {
    display: flex;
    gap: 50px;
    margin-top: 468px;

    &-previous, &-next {
      padding: 23px 63px;
      border: 0.75px solid $font-color-main;
      text-align: center;
    }

    &-previous {
      padding: 23px 52px;
    }
  }
}

.carouselFormStep2 select {
  margin-left: 26px;
  padding-left: 18px;
  width: 300px;
  height: 49px;
  background-color: transparent;
  border: 0.75px solid $font-color-main;
  font: inherit;
}

.carouselFormStep2 select:active {

  background-color: red;
}