.footer {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 35%;
  margin-top: calc(68px * -1);
  margin-right: $padding-right;

  --icon-size: 30px;

  &__r {
    font-size: $font-size-18;
    line-height: $line-height-24;

  }

  &-icons {
    display: flex;
    gap: 20px;

    &__icon1, &__icon2 {
      width: var(--icon-size);
      height: var(--icon-size);

      @media (max-width: $breakpointS) {
        scale: 80%;
      }
    }
  }
}