$breakpointXXL: 2300px;
$breakpointXL: 1352px;
$breakpointL: 1024px;
$breakpointM: 768px;
$breakpointS: 550px;
$breakpointXS: 400px;

//Additional breakpoints in CarouselFom for background-image:
//1150px
//940px
//1860px