$font-color-main: #3C3C3C;
$font-color-details: #3C3C3C26;
$font-color-send: #000000;
$font-color-login: #737373;
$font-color-statistics: #5E5322;

$border-color-main: #707070;
$border-color-alt: #FAD648;

$background-color-main: #FFFFFF;
$background-color-opaque: #FFFFFFC9;
$background-color-alt: #F0F1F1;

$decoration-color: #1A1818;