$font-base: "Open Sans", sans-serif;
$font-alt: "Merriweather Sans", sans-serif;

$font-weight-semibold: 600;
$font-weight-medium: 500;
$font-weight-regular: 400;
$font-weight-light: 300;

$font-size-90: clamp(1.5rem, calc(7.71vmin + 1rem), 6.5rem);
//$font-size-40: 2.5rem;
$font-size-40: clamp(1.75rem, calc(1.53vw + 0.5rem), 3.25rem);
$font-size-38: clamp(1.5rem, calc(1.6vw + 0.5rem), 3.125rem);
$font-size-36: clamp(1.2rem, calc(1.47vw + 0.5rem), 3rem);
$font-size-32: 2rem;
$font-size-32: clamp(1.05rem, calc(1.27vw + 0.5rem), 2.2rem);
$font-size-30: 1.875rem;
$font-size-30: clamp(1rem, calc(1.158vw + 0.5rem), 2.8rem);
$font-size-26: 1.625rem;
$font-size-24: 1.5rem;
$font-size-22: 1.375rem;
$font-size-22: clamp(0.85rem, calc(0.74vw + 0.5rem), 1.425rem);
$font-size-18: clamp(0.8rem, calc(0.53vw + 0.5rem), 1.3125rem);
$font-size-16: clamp(0.75rem, calc(0.42vw + 0.5rem), 1.2rem);
$font-size-14: clamp(0.7rem, calc(0.32vw + 0.5rem), 1.475rem);
$font-size-13: 0.8125rem;
$font-size-13: clamp(0.65rem, calc(0.265vw + 0.5rem), 1.4rem);
$font-size-12: 0.75rem;

$letter-spacing-0: 0;
$letter-spacing--20: -20px;

$line-height-122: 7.625rem;
$line-height-122: calc(#{$font-size-90} + 1.99rem);
$line-height-85: 5.3125rem;
$line-height-79: 4.9375rem;
$line-height-55: calc(#{$font-size-38} + 1.05rem);
$line-height-54: 3.3750rem;
$line-height-49: 3.0625rem;
$line-height-45: 4.99vh;
$line-height-45: calc(#{$font-size-36} + 0.45rem);
$line-height-40: 2.5rem;
$line-height-33: 2.0625rem;
$line-height-32: 2rem;
$line-height-31: 1.9375rem;
$line-height-30: 1.8750rem;
$line-height-27: calc(#{$font-size-32} + 0.5rem);
$line-height-24: calc(#{$font-size-16} + 0.3rem);
$line-height-18: 1.1250rem;
$line-height-16: 1rem;
$line-height-14: 0.8750rem;
$line-height-10: 0.6250rem;

$padding-navigation: 1.053vw;

$warning-color: red;