//Useful variables used across project

//left and right padding
$padding-right: 6.37%;
$padding-left: 7.4215%;

//Button container in GiveawaySteps
$button-giveaway-container-width: 9.5vw;
$button-giveaway-container-gap: 5vmin;
$button-giveaway-container-min: 60px;
$button-giveaway-container-bottom: 8%;