.carouselForm{
  position: relative;

&-container {
  background-color: #eeedeb;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: top left;
  aspect-ratio: 1900 / 883;
  position: relative;


  &__steps {
    padding: 36px 20px 20px 142px;
    text-align: left;
  }
}
}