.login {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 14%;

  @media (max-width: $breakpointXL) {
    padding-top: 20%;
  }

  @media (max-width: $breakpointL) {
    padding-top: 25%;
  }

  @media (max-width: $breakpointL) {
    padding-top: 30%;
  }

  @media (max-width: $breakpointS) {
    padding-top: 50%;
  }

  &__header {
    padding-bottom: calc(33px + 3.95%);
    font-size: $font-size-40;
    line-height: $line-height-55;
    letter-spacing: -0.8px;
    position: relative;

    &::after {
      content: "";
      background-image: url("../../../src/assets/decorations/Decoration.svg");
      background-repeat: no-repeat;
      width: 253px;
      height: 33px;
      position: absolute;
      top: 40%;
      left: 50%;
      transform: translate(-50%, 50%);
    }
  }

  &__form {
    display: flex;
    flex-direction: column;
    background-color: $background-color-alt;
    padding: 44px 67px;
    gap: calc(31px - 13px);

    @media (max-width: $breakpointS) {
      padding: 44px 50px;
    }

    &-container {
      display: flex;
      flex-direction: column;
      text-align: left;

      &__label {
        font-size: $font-size-16;
        font-weight: $font-weight-semibold;
        //TODO: Changed the line-line-height, cause 85 is obviously an error
        line-height: $line-height-18;
      }

      &__input {
        min-width: 250px;
        padding-top: 20px;
        font-size: $font-size-14;
        line-height: $line-height-14;

        @media (max-width: $breakpointS) {
          min-width: 150px;
        }
      }

      &-validation {
        font-size: $font-size-13;
        line-height: $line-height-14;
      }
    }
  }

  &__buttons {

    --gap-buttons: 293px;
    --button-pudding-Y: 15px;

    display: flex;
    //justify-content: space-between;
    padding: 40px 5px 5px 5px;
    gap: calc(#{var(--gap-buttons)} - var(--button-pudding-Y));
    font-size: $font-size-18;
    font-weight: $font-weight-light;
    line-height: $line-height-32;

    @media (max-width: $breakpointS) {
      --gap-buttons: 160px;
    }

    @media (max-width: 340px) {
      --gap-buttons: 122px;
    }

    &-register, &-login {
      padding: 13px var(--button-pudding-Y);
    }

    &-login {
      border: 0.75px solid $font-color-main;
    }
  }
}

//Classes for passing or failing validation
.passLogin {
  visibility: hidden;
}

.failLogin {
  color: $warning-color;
}