.containerForm {
  display: flex;
  flex-direction: column;
  align-items: stretch;

  @media (max-width: $breakpointL) {
    max-width: 80%;
  }
}

.contact-form {

  --padding-right: $right;

  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding-right: $right;
  padding-bottom: calc(#{$line-height-24} * 5);
  position: relative;

  @media (max-width: $breakpointL) {
    align-items: stretch;
    padding-left: $right;
  }

  &:before {
    content: "";
    background-image: url("../../assets/images/Background-Contact-Form.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-color: bisque;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.25;
    z-index: -1;
  }

  &__header {
    padding: 34.48% 0 25.84% 0;
    position: relative;

    &::after {
      content: "";
      background-image: url("../../../src/assets/decorations/Decoration.svg");
      background-repeat: no-repeat;
      width: 253px;
      height: 33px;
      position: absolute;
      top: 70%;
      left: 50%;
      transform: translate(-50%, 50%);
    }
  }

  &-successMessage {
    font-size: $font-size-18;
    color: green;
  }

  &__form {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    min-width: 60%;
    text-align: left;

    &-container {
      display: flex;
      flex-wrap: wrap;
      gap: 16px;

      @media (max-width: $breakpointL) {
        flex-direction: column;
      }

      &-field {
        display: flex;
        flex-direction: column;
        flex-grow: 1;

        &-validation {
          color: $warning-color;
          font-size: $font-size-13;
          line-height: $line-height-14;
        }
      }
    }

    &__textarea {
      display: flex;
      flex-direction: column;
      margin-top: 8.65%;
      flex-grow: 1;

      &__input {
        resize: none;
      }
    }

    &-button-container {
      display: flex;
      justify-content: flex-end;
      margin-top: 8.65%;

      &__button {
        padding: 2.8% 11.197%;
        border: 0.75px solid #3C3C3C;
        font-size: $font-size-18;
        font-weight: $font-weight-light;
        color: $font-color-send;
        line-height: $line-height-24;
      }
    }
  }
}

.label, .input {
  font-size: $font-size-18;
  line-height: $line-height-24;
}

.label {
  font-weight: $font-weight-semibold;
}

.input {
  padding-top: 12px;
  &::placeholder {
    color: #3C3C3C26;
  }
}

.hiddenContactForm {
  visibility: hidden;
  //visibility: visible;
}

.visibleContactForm {
  visibility: visible
  //visibility: hidden
}