.main-container {

  &::before {
    content: "";
    background: transparent url("../../../src/assets/images/Home-Hero-Image.jpg") 0 0 no-repeat padding-box;
    background-size: contain;
    width: 1368px;
    height: 963px;
    position: absolute;
    top: 0;
    left: -483px;
    z-index: -100;
  }
}

.hero {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin: 11.4226376vh 14.4736842vw;

  &__header {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: $font-size-38;
    line-height: $line-height-55;
    position: relative;

    &::after {
      content: "";
      background-image: url("../../../src/assets/decorations/Decoration.svg");
      background-repeat: no-repeat;
      width: 253px;
      height: 33px;
      position: absolute;
      top: 100%;
      left: 50%;
      transform: translate(-50%, 50%);
    }
  }

  &__links {
    display: flex;
    justify-content: space-around;
    gap: 2.75rem;
    padding: 12.7726vh 1rem 1rem 1rem;
    font-size: $font-size-36;
    line-height: $line-height-45;
    font-weight: $font-weight-light;
    text-transform: uppercase;
  }


  &__link-stuff, &__link-organise {
    display: inline;
    width: 310px;
    height: 120px;
    border: 0.75px solid $font-color-main;
    text-align: center;
  }
}