  .previousButton {
    padding: 23px 52px;
    border: 0.75px solid $font-color-main;
    text-align: center;
    color: $font-color-send;
    font-weight: $font-weight-light;
    font-size: $font-size-24;
    line-height: $line-height-32;
  }