.cta {
  display: flex;
  flex-direction: column;
  align-items: center;

  --icon-size: 83px;

  &__header {
    margin: 2.9% auto calc(3% + 44px) auto;
    font-size: $font-size-38;
    line-height: $line-height-55;
    letter-spacing: -0.76px;
    position: relative;

    &::after {
      content: "";
      background-image: url("../../../assets/decorations/Decoration.svg");
      background-repeat: no-repeat;
      width: 253px;
      height: 33px;
      position: absolute;
      top: 100%;
      left: 50%;
      transform: translate(-50%, 50%);
    }
  }

  &-steps {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 100%;
    padding-top: calc(4.3% + var(--icon-size));
    padding-bottom: 4.21%;
    column-gap: 10.11%;
    background-color: $background-color-alt;

    &-li {
      text-align: center;
      position: relative;

      &-icon1::before,
      &-icon2::before,
      &-icon3::before,
      &-icon4::before {
        content: "";
        background-repeat: no-repeat;
        width: var(--icon-size);
        height: var(--icon-size);
        position: absolute;
        top: -10%;
        left: 50%;
        transform: translate(-50%, -100%);
      }

      &-icon1::before {
        background-image: url("../../../assets/icons/Icon-1.svg");
      }

      &-icon2::before {
        background-image: url("../../../assets/icons/Icon-2.svg");
      }

      &-icon3::before {
        background-image: url("../../../assets/icons/Icon-3.svg");
      }

      &-icon4::before {
        background-image: url("../../../assets/icons/Icon-4.svg");
      }

      &__header {
        padding-bottom: 21px;
        position: relative;

        &::after {
          content: "";
          display: block;
          width: 70px;
          border: 1px solid $border-color-main;
          position: absolute;
          top: 75%;
          left: 50%;
          transform: translateX(-50%);
        }

      }

      &__description {
        font-size: $font-size-16;
        //line-height: $line-height-10;
      }
    }
  }

  &-link {
    margin: 1.89% 10px 4.24% 10px;
    padding: 1.35vh clamp(1rem, 4.85vw, 8rem);
    border: 0.75px solid $font-color-main;
    font-size: $font-size-36;
    line-height: $line-height-45;
    font-weight: $font-weight-light;
    text-align: center;
    text-transform: uppercase;
  }
}