.cta {
  display: flex;
  flex-direction: column;
  align-items: center;

  --icon-size: 83px;

  &__header {
    margin: 2.9% auto calc(3% + 44px) auto;
    font-size: $font-size-38;
    line-height: $line-height-55;
    letter-spacing: -0.76px;
    position: relative;

    &::after {
      content: "";
      background-image: url("../../../assets/decorations/Decoration.svg");
      background-repeat: no-repeat;
      width: 253px;
      height: 33px;
      position: absolute;
      top: 100%;
      left: 50%;
      transform: translate(-50%, 50%);

      @media (max-width: $breakpointS) {
        top: 80%;
      }
    }
  }

  &-steps {
    display: flex;
    justify-content: center;
    min-width: 100%;
    padding-top: calc(4.3% + var(--icon-size));
    padding-bottom: 4.21%;
    column-gap: 10.11%;
    background-color: $background-color-alt;

    @media (max-width: $breakpointM) {
      flex-wrap: wrap;
      padding-top: calc(2% + var(--icon-size));
      row-gap: var(--icon-size);
    }

    &-li {
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      position: relative;

      @media (max-width: $breakpointM) {
        width: 40%;
      }

      &-icon1::before,
      &-icon2::before,
      &-icon3::before,
      &-icon4::before {
        content: "";
        background-repeat: no-repeat;
        width: var(--icon-size);
        height: var(--icon-size);
        position: absolute;
        top: -10%;
        left: 50%;
        transform: translate(-50%, -100%);

        @media (max-width: $breakpointM) {
          scale: 50%;
          transform: translate(-100%, -150%);
        }
      }

      &-icon1::before {
        background-image: url("../../../assets/icons/Icon-1.svg");
      }

      &-icon2::before {
        background-image: url("../../../assets/icons/Icon-2.svg");
      }

      &-icon3::before {
        background-image: url("../../../assets/icons/Icon-3.svg");
      }

      &-icon4::before {
        background-image: url("../../../assets/icons/Icon-4.svg");
      }

      &-icon1::after,
      &-icon2::after,
      &-icon3::after,
      &-icon4::after {
        content: "";
        width: 70px;
        border: 1px solid $border-color-main;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateX(-50%);

        @media (max-width: $breakpointM) {
          top: 40%;
        }
      }

      &__header {
        position: relative;
        flex-grow: 1;
        padding-bottom: 18%;
      }

      &__description {
        font-size: $font-size-16;
        //line-height: $line-height-10;
      }
    }
  }

  &-link {
    margin: 1.89% 10px 4.24% 10px;
    padding: 2% clamp(1rem, 5%, 8rem);
    border: 0.75px solid $font-color-main;
    font-size: $font-size-36;
    line-height: $line-height-45;
    font-weight: $font-weight-light;
    text-align: center;
    text-transform: uppercase;

    @media (max-width: $breakpointS) {
      margin-top: 4%;
    }
  }
}