.navbar {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  position: absolute;
  top: 0.835%;
  right: 6.37%;

  @media (max-width: $breakpointM) {
    top: 3%;
  }

  @media (min-height: $breakpointXXL) {
    top: 1%;
  }
}