.giveaway-form {
  --padding-Y: 2.632%;

  &__notification {
    padding: var(--padding-Y) $padding-right var(--padding-Y) $padding-left;
    background-color: $border-color-alt;
    text-align: left;

    &__header {
      font-size: $font-size-36;
      font-weight: $font-weight-semibold;
      line-height: $line-height-49;
    }

    &__paragraph {
      font-size: $font-size-22;
      line-height: $line-height-30;
    }
  }
}