.carouselFormStep3__form {

  &--buttonContainer {
    display: flex;
    justify-content: space-between;
    width: max(23.45%, calc(1.2 * ($button-giveaway-container-min * 2) + $button-giveaway-container-gap)); //regulates the width of a button regardless of text;
    gap: $button-giveaway-container-gap;
    margin-top: 121px;
  }
}

.padding3 {
  padding: 5.515% 0;
}

.padding3.attrHover {
  &::after {
    top: -1%;
    left: 105%;
    display: flex;
    align-items: center;
    width: max-content;
    height: 95%;
  }
}

