.about {
  background-color: $background-color-alt;

  &--container {
    display: flex;
    justify-content: space-between;

    @media (max-width: $breakpointM) {
      flex-direction: column;
    }

    &__text {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 8% 7%;
      margin-bottom: calc(149px + 3%);

      @media (max-width: $breakpointXL) {
        margin-bottom: 119px;
      }


      &__header {
        padding-bottom: calc(33px + 8.53%);
        position: relative;

        &::after {
          content: "";
          background-image: url("../../../assets/decorations/Decoration.svg");
          background-repeat: no-repeat;
          width: 253px;
          height: 33px;
          position: absolute;
          top: 40%;
          left: 50%;
          transform: translate(-50%, 50%);
        }
      }

      &__description {
        font-size: $font-size-30;
        line-height: $line-height-54;
        letter-spacing: -0.6px;
        position: relative;

        &::after {
          content: "";
          background-image: url("../../../assets/decorations/Signature.svg");
          background-repeat: no-repeat;
          width: 209px;
          height: 149px;
          position: absolute;
          top: 80%;
          right: 0;
          transform: translateY(50%);

          @media (max-width: $breakpointXL) {
            top: 70%;
            right: -8%;
            scale: 80%;
          }
        }
      }
    }

    &__image {
      min-width: 50%;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center center;

      @media (max-width: $breakpointM) {
        aspect-ratio: 1/1;

      }
    }
  }
}